[submodule "Expl/vendor/spdlog"]
	path = Expl/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Expl/vendor/glfw"]
	path = Expl/vendor/glfw
	url = git@github.com:nguyenkhanhvn/glfw.git
[submodule "Expl/vendor/imgui"]
	path = Expl/vendor/imgui
	url = git@github.com:nguyenkhanhvn/imgui.git
[submodule "Expl/vendor/glm"]
	path = Expl/vendor/glm
	url = git@github.com:g-truc/glm.git
